<div class="row"*ngIf="visible">
<div  class="col-6">
    <p-card [style]="{'width': '45rem', 'margin-top': '3em','margin-left': '7em'}">
       
       
        <p-dataView #dv [value]="this.deviceRelatedData" filterBy="deviceName">
            <ng-template pTemplate="header">
                    
                
                    
                <span class="p-input-icon-right">
                    <i class="pi pi-search"></i>
                    <input type="search" pInputText placeholder="Search by Name" (input)="dv.filter($event.target.value)"style="padding:12px;margin-left:10px!important">
                </span>
                
               
            </ng-template>
            <ng-template let-relatedDevice pTemplate="listItem">
               
                <div class="row">
                <div class="col-8">
                    <div class="device-list-item">
                        <div *ngIf="relatedDevice.deviceStatus=== 'Available'; else DeviceDetails;" >
                        <img src="assets/images/1.jpg"  style="cursor:pointer" [alt]="relatedDevice.deviceName"/>
                        </div>
                        <ng-template #DeviceDetails>
                            <img src="assets/images/2.jpg"  style="cursor:pointer" [alt]="relatedDevice.deviceName"/>
                          </ng-template>
                          
                        <div class="device-list-detail">
                            <div class="device-name">{{relatedDevice.deviceName}}</div>
                            <div class="device-name">Status:{{relatedDevice.deviceStatus}}</div> 
                        </div>
                    </div>
                   
                </div>
                <div class="col-4">
                   
                </div>
                </div>
            </ng-template>
           
        </p-dataView>
    </p-card>
</div>
<div  class="col-6">
    <p-card  header="Device Details" [style]="{'width': '45rem', 'margin-top': '3em'}">
    <h5>Name:{{this.deviceDataById.deviceName}}</h5>
    <h5>Status:<span style="color: green;">{{this.deviceDataById.deviceStatus}}</span></h5>
    <h5>Temperature:{{this.deviceDataById.deviceTemperature}}</h5>
    <h5>Usage:</h5>
    <ng-template pTemplate="footer">
        <img src="assets/images/5.png"  style="cursor:pointer;width:500px!important;" [alt]="deviceDataById.deviceName"/>
    </ng-template>
</p-card>
</div>
</div>
